@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-image: url("images\ \(1\).jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.container{
    margin-top: 60px;
    margin-left: 450px;
    background-color: aliceblue;
    display: flex;
    border: 2px solid black;
    height: 500px;
    width: 500px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container li{
    list-style-type: none;
}

.container img{
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: wheat;
}

h1{
    margin-top: 20px;
    /* margin-left: 200px; */
    background-color: aliceblue;
    color: rgba(29, 162, 224, 0.726);
    text-align: center;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
}
@media only screen and (max-width: 767px) {
    .container{
        margin-top: 150px;
        margin-left: 80px;
        background-color: aliceblue;
        display: flex;
        border: 2px solid black;
        height: 300px;
        width: 300px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .container img{
        margin-top: 2px;
        padding: 10px;
        width: 60px;
        height: 60px;
        background-color: wheat;
    }
}